SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="8c1e", GROUP="plugdev", MODE="0664"
ATTRS{idVendor}=="10c4" ATTRS{idProduct}=="8c1e", ENV{ID_MM_DEVICE_IGNORE}="1"
KERNEL=="ttyACM*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="8c1e", MODE:="0666"
